<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
    >

    <title>Product search</title>
</head>
<body>
    <div class="container-fluid ">
        <div class="jumbotron mx-auto align-items-center" style="width: 95%; padding: 1.5rem 2rem;" >
            <h1 class="text-center">Product Search</h1>
            <hr />
            <div class="row">
                <div class="col-sm-6">
                    <form id ='search-form'>
                        <div class="form-group">
                            <label for="product-name">Product name</label>
                            <input type="text" class="form-control" id="product-name" placeholder="Enter product name">
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="filter-by">Filter</label>
                                <select class="form-control" id="filter-by">
                                    <option value="">No filter</option>
                                    <option value='id'>Id</option>
                                    <option value='brand'>Brand</option>
                                    <option value='description'>Description</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="filter-by-term">Filter term</label>
                                <input type="text" class="form-control" id="filter-by-term" placeholder="Enter filter term">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="sort">Sort</label>
                                <select class="form-control" id="sort">
                                    <option value="">No sort</option>
                                    <option value='asc'>Ascending</option>
                                    <option value='desc'>Descending</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="sort-by">Sort By</label>
                                <select class="form-control" id="sort-by">
                                    <option value="">No sort</option>
                                    <option value='id'>Id</option>
                                    <option value='name'>Name</option>
                                    <option value='brand'>Brand</option>
                                    <option value='description'>Description</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="per-page">Results per page</label>
                                <select class="form-control" id="per-page">
                                    <option value="2">2</option>
                                    <option selected value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="button" id='search-button' class="btn btn-primary">Search</button>
                                <button type="button" id='reset-button' class="btn btn-light">Reset form</button>
                            </div>
                        </div>
                    </form>
                    <hr />
                    <div class="row">
                        <h3>Results</h3>

                    </div>
                    <hr />
                    <div class="row">
                        <spam id="result-count"></spam> products found.
                    </div>
                    <div class="row">
                        <nav aria-label="...">
                            <ul class="pagination flex-wrap">
                                <li class="page-item disabled" id="page-link-previous">
                                    <a class="page-link" href="#" tabindex="-1" id="page-link-previous">Previous</a>
                                </li>
                                <li class="page-item" id="page-link-next">
                                    <a class="page-link" href="#" >Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="row">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Brand</th>
                                <th scope="col">Description</th>
                            </tr>
                            </thead>
                            <tbody id="result-table-body">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row form-group">
                        <h6>Query String</h6>
                        <textarea rows='3' class='col-sm-12' type="text" id='query-string-example' value="queryStringExample" disabled>
                        </textarea>
                    </div>
                    <div class="row" >
                        <h6>Json Result</h6>
                        <pre class="jumbotron" id="json-result" style="background:rgb(219, 219, 219); padding: 1rem 1rem;">
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/ProductSearchPageController.js"></script>
    <script>
        var productPageSearchController = null;
        $(document).ready(function(){
            productPageSearchController = new ProductSearchPageController();
        });
    </script>
    <script type="text/template" id="nav-page-link-template">
        <li class="page-number-link page-item @active@"><a class="page-link" href="#">@number@</a></li>
    </script>

    <script type="text/template" id="result-table-body-row-template">
        <tr>
            <td>@number@</td>
            <td>@id@</td>
            <td>@name@</td>
            <td>@brand@</td>
            <td>@description@</td>
        </tr>
    </script>
</body>
</html>