<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
    >

    <title>Product search</title>
</head>
<body>
    <div class="container-fluid ">
        <div class="jumbotron mx-auto align-items-center" style="width: 80%">
            <h1 class="text-center">Product Search</h1>
            <hr />
            <div class="row">
                <div class="col-sm-6">
                    <form id ='search-form'>
                        <div class="form-group">
                            <label for="product-name">Product name</label>
                            <input type="text" class="form-control" id="product-name" placeholder="Enter product name">
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="filter-by">Filter</label>
                                <select class="form-control" id="filter-by">
                                    <option value="">No filter</option>
                                    <option value='id'>Id</option>
                                    <option value='brand'>Brand</option>
                                    <option value='description'>Description</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="filter-by-term">Filter term</label>
                                <input type="text" class="form-control" id="filter-by-term" placeholder="Enter filter term">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="sort">Sort</label>
                                <select class="form-control" id="sort">
                                    <option value="">No sort</option>
                                    <option value='asc'>Ascending</option>
                                    <option value='desc'>Descending</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="sort-by">Sort By</label>
                                <select class="form-control" id="sort-by">
                                    <option value="">No sort</option>
                                    <option value='id'>Id</option>
                                    <option value='name'>Name</option>
                                    <option value='brand'>Brand</option>
                                    <option value='description'>Description</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="per-page">Results per page</label>
                                <select class="form-control" id="per-page">
                                    <option value="2">2</option>
                                    <option selected value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <button type="button" id='search-button' class="btn btn-primary">Search</button>
                                <button type="button" id='reset-button' class="btn btn-light">Reset form</button>
                            </div>
                        </div>
                    </form>
                    <hr />
                    <div class="row">
                        <h3>Results</h3>

                    </div>
                    <hr />
                    <div class="row">
                        <spam id="result-count"></spam> products found.
                    </div>
                    <div class="row">
                        <nav aria-label="...">
                            <ul class="pagination flex-wrap">
                                <li class="page-item disabled" id="page-link-previous">
                                    <a class="page-link" href="#" tabindex="-1" id="page-link-previous">Previous</a>
                                </li>
                                <li class="page-item" id="page-link-next">
                                    <a class="page-link" href="#" >Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="row">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Brand</th>
                                <th scope="col">Description</th>
                            </tr>
                            </thead>
                            <tbody id="result-table-body">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row form-group">
                        <label for="query-string-example">Query string</label>
                        <textarea rows='3' class='col-sm-12' type="text" id='query-string-example' value="queryStringExample" disabled>
                        </textarea>
                    </div>
                    <div class="row">
                        <pre id="json-result">

                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

        $(document).ready(function(){
            console.log('ready');

            var form = loadForm();

            form.searchButton.click(
                function(){
                    doSearch(form);
                }.bind(form)
            );

            form.form.find('.form-control').change(
                function() {
                    updateForm(form);
                }.bind(form)
            );

            form.resetButton.click(
                function(){
                    resetForm(form);
                }.bind(form)
            );


            form.pageLinkPrevious.click(function(){
                //debugger;
                var previousPage = form.currentPage - 1;
                if (previousPage >= 1) {
                    doPagination(form, previousPage);
                }
            }.bind(form));


            form.pageLinkNext.click(function(){
                //debugger;
                var nextPage = form.currentPage + 1;
                if (nextPage <= form.maxPages) {
                    doPagination(form, nextPage);
                }
            }.bind(form));

            resetForm(form);
            updateForm(form);
            doSearch(form);
        });

        function resetForm(form)
        {
            form.productName.val('');
            form.filterBy.val('');
            form.filterByTerm.val('');
            form.sort.val('');
            form.sortBy.val('');
            form.perPage.val(5);

            updateForm(form);
        }

        function loadForm()
        {
            var form = {};

            form.form = $('#search-form');
            form.productName = $('#product-name');
            form.filterBy = $('#filter-by');
            form.filterByTerm = $('#filter-by-term');
            form.sort = $('#sort');
            form.sortBy = $('#sort-by');
            form.perPage = $('#per-page');
            form.searchButton = $('#search-button');
            form.resetButton = $('#reset-button');
            form.queryString = $('#query-string-example');
            form.jsonResult = $('#json-result');
            form.resultCount = $('#result-count');
            form.pageLinkPrevious = $('#page-link-previous');
            form.pageLinkNext = $('#page-link-next');
            form.resultTableBody = $('#result-table-body');
            form.lastQuery = '';
            form.currentPage = 0;
            form.maxPages = 0;

            return form;
        }

        function getFormData(form)
        {
            var formData = {};

            formData.productName = form.productName.val();
            formData.filter = {
                type: form.filterBy.val(),
                value: form.filterByTerm.val()
            };
            formData.sort = {
                type : form.sort.val(),
                value: form.sortBy.val()
            };
            formData.perPage = form.perPage.val();

            return formData;
        }

        function buildQuery(formData)
        {
            var query = 'v1/products?';
            if (formData.productName !== '') {
                query += 'q=' + formData.productName + '&';
            }

            if (formData.filter.type !== '' && formData.filter.value !== '') {
                query += 'filter=' + formData.filter.type + ":" + formData.filter.value + '&'
            }

            if (formData.sort.type !== '' && formData.sort.value !== '') {
                query += 'sort=' + formData.sort.type + ":" + formData.sort.value + '&'
            }

            query += 'per_page=' + formData.perPage;

            return query;

        }

        function updateForm(form)
        {
            var formData = getFormData(form);

            form.filterByTerm.attr('disabled','disabled');
            if (formData.filter.type !== '') {
                form.filterByTerm.removeAttr('disabled');
            }

            form.sortBy.attr('disabled','disabled');
            if (formData.sort.type !== '') {
                form.sortBy.removeAttr('disabled');
            }

            form.queryString.val(buildQuery(formData))
        }

        function doSearch(form)
        {
            var url = buildQuery(getFormData(form));
            form.lastQuery = url;

            $.ajax({
                url
            }).done(function(data){

                var results = '';
                try {
                    results = JSON.parse(data);
                }catch(e) {}

                updateProductTable(form, results, data);

            }.bind(form));
        }

        function doPagination(form, page) {
            var url = form.lastQuery;
            url += '&start_page=' + (page - 1);
            $.ajax({
                url
            }).done(function(data){

                var results = '';
                try {
                    results = JSON.parse(data);
                }catch(e) {}

                updateProductTable(form, results, data);
            }.bind(form));
        }

        function updateProductTable(form, results, data)
        {
            if (results === '') {
                return;
            }

            form.jsonResult.html(data);
            form.resultCount.html(results.maxRows + "&nbsp;");
            updatePagination(form, results);
            updateTableBody(form, results);

        }

        function updatePagination(form, results)
        {
            $('.page-number-link').unbind('click');
            $('.page-number-link').remove();

            var maxPages = Math.ceil(results.maxRows / results.search.pagination.perPage);
            form.maxPages = maxPages;

            for (var page = 1; page <= maxPages; page++) {
                var currentPageLinkHtml = $('#nav-page-link-template').html();
                var active = '';
                if (page -1 == results.search.pagination.start) {
                    form.currentPage = page;
                    active = 'active disabled'
                }
                currentPageLinkHtml = currentPageLinkHtml.replace('@number@', page);
                currentPageLinkHtml = currentPageLinkHtml.replace('@active@', active);

                form.pageLinkNext.before($(currentPageLinkHtml));
            }

            form.pageLinkPrevious.addClass('disabled');
            form.pageLinkNext.addClass('disabled');
            //debugger;
            if (form.currentPage != form.maxPages) {
                form.pageLinkNext.removeClass('disabled');
            }

            if (form.currentPage != 1) {
                form.pageLinkPrevious.removeClass('disabled');
            }


            $('.page-number-link').click(function(event){
                event.preventDefault();

                var link = $(event.currentTarget);
                var page = link.find('a').html();

                doPagination(form, page);
            }.bind(form));
        }

        function updateTableBody(form, results)
        {
            var resultData = results.results;
            var rowTemplate = $("#result-table-body-row-template").html();

            form.resultTableBody.html('');

            resultData.forEach(function(data, index){
                var numberOffset = results.search.pagination.start * results.search.pagination.perPage;
                var newRow = rowTemplate;

                newRow = newRow.replace('@number@', index + 1 +  numberOffset);
                newRow = newRow.replace('@id@', data.id);
                newRow = newRow.replace('@name@', data.name);
                newRow = newRow.replace('@brand@', data.brand);
                newRow = newRow.replace('@description@', data.description);
                newRow = $(newRow);

                form.resultTableBody.append(newRow);
            }.bind(form));
        }


    </script>
    <script type="text/template" id="nav-page-link-template">
        <li class="page-number-link page-item @active@"><a class="page-link" href="#">@number@</a></li>
    </script>

    <script type="text/template" id="result-table-body-row-template">
        <tr>
            <td>@number@</td>
            <td>@id@</td>
            <td>@name@</td>
            <td>@brand@</td>
            <td>@description@</td>
        </tr>
    </script>
</body>
</html>